<div class="card" style="width: 18rem;">
    <img class="img-thumbnail" src="@ImageSrc" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
    </div>
</div>

